# http for github actions, and I believe github no longer supports ssh with pip
git+https://github.com/jfuruness/bgpy.git@5dae8779e83bdc69abd33a57264241dd9f25a335
matplotlib==3.5.2
pytest==7.1.2
# Dev
types-requests==2.26.1
pytest-cov==3.0.0
mypy==0.910
flake8==4.0.1
tox==3.24.4
pytest-xdist==2.5.0
