# http for github actions, and I believe github no longer supports ssh with pip
git+https://github.com/jfuruness/lib_bgp_simulator.git#d9b66fa59055a62e4666621fb739b0e1429016a0
matplotlib==3.5.1
pytest==6.2.5
tikzplotlib==0.9.17
